@mixin variant($value) {
  &.variant-#{$value} {
    background: var(--c-button-#{$value}-background);
    color: var(--c-button-#{$value}-color);
    border-color: var(--c-button-#{$value}-border);
  }
}

button.button {
  min-width: min-content;
  height: 40px;

  padding: 0 16px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-sm);
  border-style: solid;
  border-width: 1px;

  cursor: pointer;

  & > span {
    font-family: var(--ff-primary);
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
  }

  @include variant('contained');
  @include variant('outlined');
  @include variant('flat');

  &.maxWidth {
    width: 100%;
  }
}
