@mixin theme-dark {
  --c-main-text: #{$gray-900};
  --c-main-background-primary: #{$gray-200};
  --c-main-background-secondary: #{$gray-100};
  --c-main-background-tertiary: #{$gray-900};

  --c-button-contained-background: #{$gray-800};
  --c-button-contained-color: #{$gray-100};
  --c-button-contained-border: #{$gray-800};

  --c-button-outlined-background: #{$transparent};
  --c-button-outlined-color: #{$gray-800};
  --c-button-outlined-border: #{$gray-400};

  --c-button-flat-background: #{$transparent};
  --c-button-flat-color: #{$gray-700};
  --c-button-flat-border: #{$transparent};

  --c-input-background: #{$gray-100};
  --c-input-color: #{$gray-900};
  --c-input-label: #{$gray-900};
  --c-input-border: #{$gray-300};
  --c-input-border-focus: #{$gray-400};
}
