@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import '@scss/config/colors';
@import '@scss/config/dimensions';
@import '@scss/config/typography';

@import '@scss/themes/dark';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include dimensions;
  @include typography;
  @include theme-dark;
}

body {
  background: var(--c-main-background-primary);
  color: var(--c-main-text);

  font-family: var(--ff-primary);
}
